.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.r-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bolder;
  text-transform: uppercase;
}

.shopping-cart {
  position: relative;
}

.shopping-cart i {
  margin-left: 15px;
}

.r-nav span {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: -15px;
  right: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  z-index: 2;
}
